.speech {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.direction {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: cyan;
}

.direction:hover {
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: darkgray;
}

.OLLIVANT {
    color: blue;
}

.MARY {
    color: deeppink;
}

.EMILY {
    color: darkmagenta;
}

.tabledata {
    border: 0vh;
    border: 4px solid black;
    color: darkred;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr,td {
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
}

.OLLIVANT:hover {
    text-shadow: 2px 2px 5px red;
    border-style: solid;
}

.MARY:hover {
    text-shadow: 2px 2px 5px blueviolet;
    border-style: solid;
}

.EMILY:hover {
    text-shadow: 2px 2px 5px darkgreen;
    border-style: solid;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: palevioletred;
  }